%h2 Sign up

.well
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f|
    .form-group
      .col-sm-10.col-sm-offset-2
        =f.alert_message 'Please fix the errors below.', class: 'alert alert-danger'
    = f.email_field :email, placeholder: 'Email', autofocus: true
    = f.password_field :password, placeholder: 'Password', autocomplete: 'off', help: "#{@minimum_password_length} characters minimum"
    = f.password_field :password_confirmation, placeholder: 'Confirm password', autocomplete: 'off'
    .form-group
      .col-sm-10.col-sm-offset-2
        =f.submit 'Sign up', class: 'btn btn-primary', wrapper: {class: 'has-warning'}
        =button_tag :Cancel, class: 'btn btn-default', type: :reset
    .form-group
      .col-sm-10.col-sm-offset-2
        = render 'devise/shared/links'