%h3 Issue

%p
  %b Subj:
  = @model_object.subj
%p
  %b Descr:
  = @model_object.descr
%p
  %b Start date:
  = @model_object.start_date
%p
  %b Due date:
  = @model_object.due_date
%p
  %b Estimated time:
  = @model_object.estimated_time_as_float
%p
  %b Spent time:
  = link_to @model_object.spent_time_as_float, issue_time_entries_path(@model_object)
%p
  %b Priority:
  = @model_object.issue_priority.title if @model_object.issue_priority_id
%p
  %b Status:
  = @model_object.issue_status.title if @model_object.issue_status_id

= link_to :Edit, edit_issue_path(@model_object)
\|
= link_to :Back, project_issues_path(@model_object.project)
\|
= link_to 'Log time', new_issue_time_entry_path(@model_object)