= render 'crud/notice'
.well
  = bootstrap_form_for @model_object, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
    .form-group
      .col-sm-10.col-sm-offset-2
        = f.alert_message 'Please fix the errors below.', class: 'alert alert-danger'
    = f.text_field :title, placeholder: 'title'
    = f.text_field :alias, placeholder: 'alias', help: 'You can leave this field blank. This case it will filled automatically.'
    = f.text_area :descr, placeholder: 'description', class: 'vresize'
    = f.collection_select(:parent_id, Project.all, :id, :title, {:prompt => 'Select'})
    .form-group
      .col-sm-10.col-sm-offset-2
        = f.submit @model_object.persisted? ? :Update : :Create, class: 'btn btn-primary', wrapper: {class: 'has-warning'}
        = link_to(:Delete, project_path(@model_object), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }) if @model_object.persisted?
        = button_tag :Cancel, class: 'btn btn-default', type: :reset
