= render layout: 'crud/form' do |f|
  = f.text_field :name, placeholder: 'Name'
  = f.collection_select(:permissions, Permission.all, :id, Proc.new {|p| "#{p.section}|#{p.action}"}, {include_hidden: false, selected: @selected_permission_ids}, {class: 'bootstrap-multiselect', multiple: 'multiple', style: 'display: none;'})
