= render layout: 'crud/form' do |f|
  = f.text_field :issue_id, placeholder: 'Issue'
  = f.text_field :date, placeholder: 'Date', 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd'
  = f.text_field :amount, placeholder: 'Amount', help: 'You can type something like 2.4 or 2:24 (2.4 equal to 2:24)'
  = f.text_area :comment, placeholder: 'Comment', class: 'vresize'
  = f.collection_select(:activity_id, Activity.active.order(:element_order), :id, :title, {selected: @model_object.activity_id || Activity.order(priority: :desc).first.id, prompt: 'Select activity'})
