= render layout: 'crud/form' do |f|
  = f.text_field :email, placeholder: 'email'
  = f.form_group :status do
    = f.check_box :status, {checked: @model_object.active?, label: 'Active'}, User.statuses.key(true), User.statuses.key(false)
  = yield f