%h3 Enumerators


%h4 Activities

= datagrid_table(@activities_grid, html: {class: 'table table-striped'})

= link_to 'All', activities_path
\|
= link_to 'New', new_activity_path

%hr

%h4 Issue priority

= datagrid_table(@issue_priorities_grid, html: {class: 'table table-striped'})

= link_to 'All', issue_priorities_path
\|
= link_to 'New', new_issue_priority_path
