!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Crm
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/navbar_top'
      .row
        .col-md-3
          = render 'layouts/panel_ava'

          = render 'layouts/left_menu'

        .col-md-9
          = render 'layouts/breadcrumb'
          = yield
