!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Crm
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to @settings.site_name, root_path, class: 'navbar-brand'
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#"}
                  Link
                  %span.sr-only (current)
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
                  %li.divider
                  %li
                    %a{:href => "#"} One more separated link
            %form.navbar-form.navbar-left.col-md-3{role: "search", action: 'https://www.google.ru/search', method: "GET"}
              .form-group
                %input.form-control{placeholder: "Search", type: "text", name: "q"}/
              %button.btn.btn-default{:type => "submit"} Find
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Profile
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Details
                  %li
                    %a{:href => "#"} Logout
      .row
        .col-md-3
          .panel.panel-default.text-center.panel-ava
            = image_tag 'ava.jpeg', width: 50
            %h5 John Smith
            %h6 johnsmith@gmail.com

          = render 'layouts/left_menu'

        .col-md-9
          %ul.breadcrumb
            %li
              =link_to 'Home', '/'
            %li.active Projects
          = yield
